html {
    background-color: black
}
body {
    font-family: 'Roboto', sans-serif;
    min-height: 800px;
}
p {
    font-weight: 300;
}
main {
    min-width: 90%;
    min-height: 90%;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    gap: .5rem;
}
aside {
    padding-left: 1rem;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 10;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800 !important;
    margin-top: 1rem;
}
/* Conditional formatting and specialzed classes */
/*** Disables user from selecting or highlighting text *******
**** jQuery code $('ELEMENTSELECTOR').addClass('noselect'); */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
/*Header*/
header {
    min-height: 10vh;
}
#greeting {
    text-align: right;
    height: fit-content;
    /* background-color: rgba(255, 255, 255, 0.25); */
}
#greeting img {
    position: absolute;
    top: 0;
    padding: 1vh 0 1vh 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 10vh;
}
#greeting h2 {
    color: white;
    margin: 2vh !important;
    padding: 0 !important;
    font-size: 1.5vw;
}
#greeting span {
    font-weight: 300;
    text-align: right;
}
/* Nav Menu */
.navTabs {
    display: grid;
    min-height: 100%;
    gap: 1vh;
    margin: 0 0 0 1vw;
    /* grid-template-columns: repeat(3, 33%); */
    grid-template-rows: repeat(10, 10%);
    font-size: 1.25vw;
}
.navTabs a {
    text-decoration: none;
    color: white;
}
#navTabsTop {
    text-align: left;
    margin-top: 0;
    /* display: flex; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    /* grid-row-end: 2; */
}
#navTabsTop ul {
    width: 90%;
}
#navTabsMid {
    text-align: left;
    /* margin-top: 0; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
#navTabsBottom a,
#navTabsTop a {
    flex: 0 0 100%
}
#navTabsBottom {
    grid-column: 1;
    grid-row-start: 5;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
a img {
    margin-left: 1rem;
    max-height: 60px;
    z-index: 2;
}
/* Modal Stuff */
#signup-user[placeholder] {
    text-align: center;
}
#acctInfoEl {
    width: 50%;
    right: 100%;
    transform: translateX(50%);
    margin: -4vh 0 4vh 0;
    text-align: left;
    /* background-color: white; */
    border: none;
    padding: 2vw 0;
}
#acctInfoEl span {
    font-weight: 800;
}
#acctInfoEl p {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}
/* conditional classes / specializations */
.card {
    background: rgb(8, 8, 8);
    text-decoration: none;
    color: #444;
    box-shadow: 1px 4px 11px 4px rgba(0, 0, 0, 0.34);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
    border: solid black;
}
/*Workspace Options*/
#workspace {
    display: grid;
    padding: 1vw;
    background-color: white;
    height: 100%;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
}
/*Dashboard Slide*/
.active {
    display: grid !important;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100%;
}
.deactive {
    display: none;
}
#dash {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 11;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100% !important;
}
#dash h2 {
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 7;
}
#dashLinks {
    background-color: violet;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
}
#dashSnips {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    margin: 0;
}
/*Calendar*/
#calendar .main {
    height: 50% !important;
    width: 100% !important;
}
#calendar p,
#calendar td {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}
#calendar a {
    color: #1192A3;
}
#calendar .space {
    margin: 10px 0px 10px 0px;
}
#calendar .header {
    background: #003267;
    background: linear-gradient(to right, #011329 0%, #00639E 44%, #011329 100%);
    padding: 20px 10px;
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}
#calendar .header a {
    color: white;
}
#calendar .header h1 a {
    text-decoration: none;
}
#calendar .header h1 {
    padding: 0px;
    margin: 0px;
}
#calendar .main {
    padding: 10px;
    margin-top: 10px;
}
#calendar .generated {
    color: #999;
    margin-top: 10px;
}
#calendar .generated a {
    color: #999;
}
#dashCal {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: grey;
    margin: 0 !important;
}
/* Slack Slide */
#slack {
    display: none;
}
/*Notion Slide*/
#notion {
    display: none;
}
/*CDNJS Slide*/
#cdnjs h2 {
    grid-column-start: 2;
    grid-column-end: 10;
    text-align: center;
    max-height: 100px;
}
#cdnjs {
    display: none;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
}
#cdnjsCard {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    margin-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
}
#cdnjsResults {
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10;
}
#cdnjsInput {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    margin-left: 5%;
    font-size: 1.75vw;
    min-height: 25px;
    max-height: 36px;
    color: gray;
}
#cdnjsBtn {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    min-height: 41px;
    transform: translateY(-3px);
    width: 10vw;
    border: 0;
    font-size: 1.5vw;
    color: white;
    z-index: 1;
}
#cdnjsInput:hover {
    box-shadow: inset 0px 0px 48px 1px rgba(224, 140, 255, 0.1), -webkit-box-shadow: 0px 4px 50px -1px rgba(224, 140, 255, 0.42);
    box-shadow: 0px 4px 50px -1px rgba(224, 140, 255, 0.42);
}
.scroll {
    max-height: 525px;
    margin: -1rem 1rem;
    wrap: none;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.25);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
.resultLi {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    user-select: none;
    text-decoration: underline;
    font-variant: small-caps;
    text-align: center;
}
.resultLi,
.cdnLi {
    list-style: none;
    width: 100%;
    background-color: white;
}
.cdnLi {
    margin-bottom: 1rem;
    font-variant: none;
}
/* #links {
height: 100%;
width: 80%;
grid-column-start: 2;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 5;
}*/
#dashLinks {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 9;
    text-align: center;
}
.linksLi {
    list-style: none;
    width: 100%;
    background-color: white;
}